*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #f4f1de;
}

:root{
    --color-text: #f4f1de;
   
    --color-check: #1d3557;
    --color-textcheck: #f1faee;
    --bg-color: #3d405b;
    --bg-check: #e07a5f  ;
}

.card{
    width: 490px;
    height: 500px;
    min-height: 550px;
    background-color: var(--bg-color);
    box-shadow: 2px 2px 5px #0003;
    border-radius: 9px;
    margin: 50px auto;
    padding-top: .1px;
    padding: 30px;
    position: relative;
}


/* boton de scape X   */
.scape{
    
    height: 40px;
    width:40px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 0;
    top:0;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 50px;
   
    
}

.scape:hover{
  cursor: pointer;
  transform: scale(1.4) ;
}


.card h2{
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
    color: var(--color-text);
    
}

.div-numbers{
  height: 100px;
  /* border: 2px solid #000; */
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box{
    width: 70px;
    height: 60px;
    background-color: #f4f1de;
    border: 1px solid #0001;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    font-weight: bold;
    transition: all .4s ease;
    
}

.box:hover{
    
  
    transform: scale(1.1);
    cursor: pointer;
    border: 3px solid #e07a5f;
}



.div-paragraph{
    width: 100%;
    height: 80px;
    /* border: 2px solid #000; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.paragraph{
  color: var(--color-text) ;
  text-align: center;
}

/* CHECKBOX ACEPTO TERMINOS  */


.div-terminos{
    width: 90%;
    height: 40px;
    /* border: 2px solid #0003; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
}





.div-terminos input[type="checkbox"]{
    display: none;
}

  
.div-terminos label{
    display: inline-block;
    background: var(--bg-check);
    color: var(--color-textcheck);
    padding: 10px 15px 10px 50px ;
    position: relative;
    margin-left: 20px;
    transition: all .5s ease;
    border-radius: 10px;
  
}

.div-terminos label:before{
    content: "";
    width: 20px;
    height: 20px;
    background: none;
    border: 3px solid #eee;
    position: absolute;
    left:0;
    top:0;
    margin-top: 8px;
    margin-left: 15px;
    border-radius: 10px; 
    
}

.div-terminos label:hover{
    cursor: pointer;
}

[type="checkbox"]:checked + label{
 
    padding: 10px 10px;
     background: var(--color-textcheck) ;
     color: var(--bg-check);
}

[type="checkbox"]:checked + label:before{
    display: none;
}



/* BOTON  */



.btn{
    /* border: 2px solid #000; */
    width: 90%;
    height: 70px;
    margin: 50px auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.btn:hover{
  box-shadow: 0px 2px 1px #81b29a;
 
  transform: scale(.9);
  font-weight: bold;
}

.cta{
    color: var(--color-text);
    display: block;
    padding: 40px 100px;
}

.cta img{
    position: absolute;
    top: 18px;
    left: 260px;
    width: 30px;
}